

P {color white
   font-size:20px;
   font-family:Courier;
   font-weight:bold;
   font-style:italic;
   line-height:30px;

   letter-spacing:5px;
   text-decoration:underline;
   text-transform:capitalize;
   text-align:left;
   text-indent:30px;
   background: #cdc0bd;
  }
  #titulo1 {
  	font-size: 100px;}

header {
color:white;
background: cyan;
text-align:center;

}

#MENU { text-align:center;
margin:auto;
    padding-left:30px;
    padding-top:5px;   
    height:25px;
    width:95%;
    background: black;
    border-top-width: 10px;
  


}  
p:nth-child(1) { background:red;
               }
p:nth-child(2) { background:green;  }
p:nth-child(3) { background:grey; 
padding: 5% 10%;  }
#MENU ul{
    list-style:none; /* Eliminamos los bullets */
    margin:0px; /* Quitamos    color:white;  los margenes */
    padding:0px; /* Quitamos el padding */
}
#MENU ul li {
   float:right; /* Hacemos que el menu se muestre horizontal */
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #FFFFFF
}
}
#MENU ul li a{
    text-decoration:none;
    color:BLUE;
    font-weight:bold;
}
#MENU ul li a:hover{
    color:GREEN;
}
#clearfix
{
	clear:both;

}
section {float:left;
height: 50%;
width:80% 
}
aside {float:left;;
	height: 50%;
width:30%
background: RED}